@font-face {
    font-family: silkscreen;
    src: url(../font/slkscr.ttf);
    font-weight: normal;
}

@font-face {
    font-family: silkscreen-bold;
    src: url(../font/slkscrb.ttf);
    font-weight: bold;
}

.container {
    width: 420px;
    margin: 0 auto;
    font-family: silkscreen;
}

.title {
    float: left;
    font-family: silkscreen-bold;
    font-size: 3em;
    margin: 0px, auto;
    margin-bottom: 10px;
}

.scores-container {
    float: right;
    margin-top: 0px;
}

.score-container:before {
    content: "Score: ";
}

.best-container:before {
    content: "Best: ";
}

.score-container:before .best-container:best {
    /*position: absolute;*/
    width: 100%;
    /*text-align: center;*/
}

.menu {
    text-align: center;
    line-height: 1px;
}

.start {
    margin-top: 10px;
    font-size: 1em;
}

.start:hover {
    cursor: pointer;
}
